* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: #ADA9BB;
}

header {
    background-color: #484554;
    color: #FEFEFE;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#entrada {
    background-color: #FFF;
    max-width: 30rem;
    margin: 0rem auto 1rem auto;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 0 0 3% 3%;
}

#importante-contenedor {
    user-select: none;
    display: flex;
    align-items: center;
}

#entrada form {
    display: flex;
    flex-direction: column;
}

#entrada form * {
    padding: 0.5rem;
    margin-bottom: .3rem;
}

#tiempo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1rem 1rem;
    place-items: center;
    user-select: none;
}

#slider-titulo {
    grid-column: span 4;
    font-size: small;
    font-style: italic;
    font-weight: 800;
}
#tiempo input, #tiempo label {
    transition: 0.2s;
    color: #484554;
}
#tiempo input:hover, #tiempo label:hover {
    color: #000;
    text-shadow: 0px -15px 15px rgba(255, 229, 85, 0.856);
}

textarea {
    resize: vertical;
}

#guardar {
    color: #fff;
    background-color: #5258E6;
    border: none;
    border-radius: 5px;
    transition: .1s;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#guardar:hover {
    background-color: #494dd8;
    cursor: pointer;
}

#guardar:active {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transform: scale(.99);
}

#lista {
    display: flex;
    flex-direction: column;
    max-width: 29rem;
    margin-left: auto;
    margin-right: auto;
}

.tarea {
    border: 1px outset #D5C5FF;
    margin: .5rem;
    padding: .5rem;
    background-color: #BAADFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.tarea-cabecera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 100%;
    padding-bottom: .2rem;
}

.tarea-tiempo {
    font-weight: 800;
    background-color: #D9F3F5;
    border-radius: 10%;
    padding: .5rem;
}

.tarea-importante {
    font-size: larger;
    color: #D8002B;
    padding: .5rem;
    transition: .2s;
}

.tarea-importante:hover {
    transform: scale(1.5);
    user-select: none;
    color: #ff1f1f;
}

.tarea-cuerpo {
    border: 2px ridge #6363f5d5;
    border-radius: 5px;
    width: 100%;
    background-color: #F4ECFF;
    transition: .5s;
}

.tarea-descripcion {
    height: 7.8rem;
    width: 100%;
    text-align: center;
    padding: .5rem;
    margin: .5rem auto 0.3rem auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.tarea-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .2rem 1rem .1rem 1rem;
}

.tarea-expandir {
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.3);
}

.tarea-expandir:hover {
    transform: scale(1.6);
}

#hecho, #editar, #borrar {
    color: #fff;
    font-size: 2rem;
}

#hecho {
    background-color: #009E74;
    box-shadow: 0 0 0 4px #009E74, 4px 3px 5px 1px rgba(0, 0, 0, 0.75);
}

#hecho:active {
    box-shadow: 0 0 0 4px #009E74, 3px 2px 4px 1px rgba(0, 0, 0, 0.75);
    transform: scale(.99);
}

#editar {
    background-color: #5258E6;
    box-shadow: 0 0 0 4px #5258E6, 4px 3px 5px 1px rgba(0, 0, 0, 0.75);
}

#editar:active {
    box-shadow: 0 0 0 4px #5258E6, 3px 2px 4px 1px rgba(0, 0, 0, 0.75);
    transform: scale(.99);
}

#borrar {
    background-color: #EA001F;
    box-shadow: 0 0 0 4px #EA001F, 4px 3px 5px 1px rgba(0, 0, 0, 0.75);
}

#borrar:active {
    box-shadow: 0 0 0 4px #EA001F, 3px 2px 4px 1px rgba(0, 0, 0, 0.75);
    transform: scale(.99);
}

.boton {
    user-select: none;
    transition: .1s;
    border-radius: 50%;
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.oculta {
    display: none;
}

.visible {
    height: 11.5rem;
    overflow: hidden;
}

.no-visible {
    height: 0;
    overflow: hidden;
}

/*CSS PARA EL SWITCH*/

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 17px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #D8002B;
}

input:focus+.slider {
    box-shadow: 0 0 1px #D8002B;
}

input:checked+.slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}