* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: #ADA9BB;
}

header {
    background-color: #484554;
    color: #FEFEFE;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#entrada {
    background-color: #FFF;
    max-width: 30rem;
    margin: 0rem auto 1rem auto;
    padding: 1rem;
    border-radius: 0 0 3% 3%;
}

#entrada form {
    display: flex;
    flex-direction: column;
}

#entrada form * {
    padding: 0.5rem;
    margin-bottom: .3rem;
}

#slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#slider input {
    margin-right: -2.5rem;
}

textarea {
    resize: vertical;
}

#guardar {
    color: #fff;
    background-color: #5258E6;
    border: none;
    border-radius: 5px;
    transition: .1s;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#guardar:hover {
    background-color: #494dd8;
    cursor: pointer;
}

#guardar:active {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transform: scale(.99);
}

#lista {
    display: flex;
    flex-direction: column;
    max-width: 29rem;
    margin-left: auto;
    margin-right: auto;
}

.tarea {
    border: 1px outset #D5C5FF;
    margin: .5rem;
    padding: .5rem;
    background-color: #BAADFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.tarea-cabecera {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: .2rem;
}

.tarea-tiempo {
    font-weight: 800;
    background-color: #D9F3F5;
    border-radius: 10%;
    padding: .5rem;
}

.tarea-importante {
    font-size: larger;
    color: #D8002B;
    padding: .5rem;
    transition: .2s;
}

.tarea-importante:hover {
    transform: scale(1.5);
    user-select: none;
    color: #ff1f1f;
}

.tarea-cuerpo {
    border: 2px ridge #6363f5d5;
    border-radius: 5px;
    width: 100%;
    background-color: #F4ECFF;
    transition: .5s;
}

.tarea-descripcion {
    height: 7.8rem;
    width: 100%;
    text-align: center;
    padding: .5rem;
    margin: .5rem auto 0.3rem auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.tarea-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .2rem 1rem .1rem 1rem;
}

#hecho, #editar, #borrar {
    color: #fff;
    font-size: 2rem;
}

#hecho {
    background-color: #009E74;
    box-shadow: 0 0 0 4px #009E74, 4px 3px 5px 1px rgba(0, 0, 0, 0.75);
}
#hecho:active {
    box-shadow: 0 0 0 4px #009E74, 3px 2px 4px 1px rgba(0, 0, 0, 0.75);
    transform: scale(.99);
}

#editar {
    background-color: #5258E6;
    box-shadow: 0 0 0 4px #5258E6, 4px 3px 5px 1px rgba(0, 0, 0, 0.75);
}
#editar:active {
    box-shadow: 0 0 0 4px #5258E6, 3px 2px 4px 1px rgba(0, 0, 0, 0.75);
    transform: scale(.99);
}

#borrar {
    background-color: #EA001F;
    box-shadow: 0 0 0 4px #EA001F, 4px 3px 5px 1px rgba(0, 0, 0, 0.75);
}
#borrar:active {
    box-shadow: 0 0 0 4px #EA001F, 3px 2px 4px 1px rgba(0, 0, 0, 0.75);
    transform: scale(.99);
}

.boton {
    user-select: none;
    transition: .1s;
    border-radius: 50%;
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.oculta {
    display: none;
}

.visible {
    height: 11.5rem;
    overflow: hidden;
}

.no-visible {
    height: 0;
    overflow: hidden;
}